.left-column {
    width: calc(100% - 30%);
    text-align: center;
    overflow-x: scroll;
    position: fixed;
    background-image: url(../../../../images/pngwing.com.png);
    background-size: 78%;
    background-position:50% 50%;
    background-repeat: no-repeat;
    border-right: 2px solid #1a2639 ;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.scroll_box {
    position: relative;
    max-width: 100%;
    height: 100%;
    outline: none;
    overflow-y: scroll;
}
.left-column_container {
    overflow: visible !important;
    height: auto;
    width: auto;
}
.custom-scroll_bar {
    overflow: visible !important;
    touch-action: pinch-zoom;
    overflow:scroll;
}

.header {
    color: #1a2639;
    font-size: 1.1rem;
    font-weight: 800;
    padding: 12px 15px 11px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.share-menu {
    align-self: center;
}
.logo {
    width: 15px;
    align-self:center;
    margin-right: 5px;
}
.css-logo {
    display:flex;
    align-items: center;
}
.css-logo_name {
    margin-top: 5px;
}
.share-content {
    margin-top: 7px;
    display: flex;
    gap: 5px;
    align-self: flex-end;
}
.email-logo, .facebook-logo, .twitter-logo {
    width: 20px;
}
