/*------------------------------------------*/
/*------------------------------------------*/
/*------------------------------------------*/
@import url("../mkdir-shelter/reset.css");
/*-------------------------------------------*/
@font-face {
    font-family: 'georgia';
    src: url('../mkdir-shelter/fonts/georgia.eot');
    src: url('../mkdir-shelter/fonts/georgia.eot') format('embedded-opentype'),
         url('../mkdir-shelter/fonts/georgia.woff2') format('woff2'),
         url('../mkdir-shelter/fonts/georgia.woff') format('woff'),
         url('../mkdir-shelter/fonts/georgia.ttf') format('truetype'),
         url('../mkdir-shelter/fonts/georgia.svg#georgia') format('svg');
         font-weight: 400;
}
/*-------------------------------------------*/
@font-face {
    font-family: 'arial';
    src: url('../mkdir-shelter/fonts/arial.eot');
    src: url('../mkdir-shelter/fonts/arial.eot') format('embedded-opentype'),
         url('../mkdir-shelter/fonts/arial.woff2') format('woff2'),
         url('../mkdir-shelter/fonts/arial.woff') format('woff'),
         url('../mkdir-shelter/fonts/arial.ttf') format('truetype'),
         url('../mkdir-shelter/fonts/arial.svg#arial') format('svg');
         font-weight: 400;
}
/*-------------------------------------------*/
body {
    font-family: 'georgia';
    font-weight: 400;
    color: #545454;
    background-color: #ffffff;
}
/*--------------------------------------------*/
.wrapper {
    min-height: 100%;
    display:flex;
    flex-direction: column;
    overflow: clip;
}
/*--------------------------------------------*/
[class*="__conteiner"] {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}
/*---------------------------------------------*/
/*--------------------------------------------*/
.our-friends {
    flex: 1 1 auto;
}
/*---------------------------------------------*/
.button {
    display: inline-block;
    font-size: 17px;
    line-height: 1.29; /* 22/17 */
    letter-spacing: 0.06em;
    background: #F1CDB3;
    border-radius: 100px;
    color: #292929;
}
.button:hover {
    background-color: #FDDCC4;
    transform: all 0.5s;
}
/*----------------------------------------------*/
.title {
    font-size: 35px;
    line-height: 1.28; /* 45/35 */
    letter-spacing: 0.06em;
    color: #545454;
}
/*---------------------------------------------*/
/*Header*/
/*---------------------------------------------*/

.header_body {
    padding-top: 30px;
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 10%, #262425 100%);  
}

.header__conteiner {
    display:flex;
    align-items: center;
    height: 60px;
}
.header_logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 8px;
}

.header_link {
    font-size: 32px;
    line-height: 1.09; /* 35/32 */
    color: #F1CDB3;
    letter-spacing: 0.06em;
}
.header_subtitle {
    font-family: 'arial';
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15; /* 15/13 */
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.header_menu  {
    flex: 1 1 auto;
}

.menu_list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    justify-content: flex-end;
}

.menu_link {
    font-family: "arial";
    font-size: 15px;
    line-height: 1.6; /* 24/15 */
    color: #CDCDCD;
}
.first-link:link {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}
.second-link:visited {
    color: #FAFAFA;
}
.menu_link:hover {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    transition: all 0.5s;
}

.icon-menu {
}

/*------------------------------------------*/
/*section not-only
/*------------------------------------------*/

