.order {
    color:#1a2639;
    position: sticky;
    top: 20px;
    font-size: 45px;
    margin-top: -10px;
    font-weight: 700;
    text-align: center;
    padding: 5px 10px;
}
@media (max-width: 770px){
    .order {
        margin-top: 20px;
        font-size: 30px;
    }
}