.editor {
    position: relative;
    flex-direction: column;
    top: 20px;
    left: 0;
    font-family: monospace, sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    border-radius: 3px;
    background-color: #3e4a61;
    margin-left: 45px;
    padding: 10px;
}
.css-panel { 
    flex-grow: 1;
    flex-basis: 50%;
    height: 100%;
    overflow: hidden;
}
.panel_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 50px;
    border-top: 1px solid rgb(11, 11, 31);
    border-left: 1px solid rgb(11, 11, 31);
    background-color: rgb(178, 178, 209);
}

.editor .editor_main {
    position: relative;
    padding-left: 40px;
    background: #282a36;
    height: 100%;
    line-height: 140%;
}
.editor .form {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 5px;
}
.form-input {
    margin-right: 10px;
    border: none;
    width: 90%;
    height: 40px;
    resize: none;
    background-color: inherit;
    transition: .5s;
}
.CodeMirror {
    width: 100%;
    margin-top: 3px;
    margin-right: 5px;
    height: 30px;
    font-size: 16px;
    background-color: inherit;
}
.form-div {
    overflow: hidden;
    position: relative;
    width: 3px;
    height: 0px;
    top: 4px;
    left: 4px;
}
.CodeMirror-vscrollbar {
    display: none !important;
}
.CodeMirror-hscrollbar {
    display: none !important;
}
.CodeMirror-scrollbar-filler {
    display: none !important;
}
.line-number {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    padding: 10px;
    height: 100%;
    text-align: right;
    color: #5b6d99;
    background: #282a36;
    /*  box-shadow: -1px 0px 6px 0px rgba(0, 0, 0, 0.5); */
}

.blink {
    animation: blink 1s linear infinite;
    background-color: rgba(62, 203, 255, 0.3);
}

[data-hover] {
    outline: 10px solid #ff79c5d0 !important;
}

.bold {
    background-color: rgba(255, 255, 255, 0.055);
}

.hidden {
    display: block !important;
}

.passed {
    color: #50fa7b !important;
}
.not-passed {
    color: #ff79c6 !important;
}
.tooltip {
    background-color: #282a36;
    position: absolute;
    display: none;
    text-align: center;
    padding: 10px;
    font-family: monospace;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px 1px #f8f8f2;
    border: 1px solid #282a36;
}
@keyframes blink {
    0% {
        background-color: #f1fa8c42;
    }
    50% {
        background-color: initial;
    }
    100% {
        background-color: #f1fa8c42;
    }
}

.shake {
    -webkit-animation: 0.1s tremor ease-out infinite;
    animation: 0.3s tremor ease-out;
}
