@import url("reset.css");
@import url('./app/view/header/header.css');

body {
    font-family: "Exo 2", "Lato", "Helvetibackground-ica Neue", sans-serif;
    background-color: bisque;
    position: relative;
}