.item {
        animation: fade-in-out 1s linear infinite;
      }

      @keyframes fade-in-out {
        0% {
          opacity: 0;
        }

        50% {
          opacity: 1;
        }

        100% {
          opacity: 0;
        }
      }
      .title {
        display: flex;
        letter-spacing: 0.2px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 800;
        font-size:  35px;
        color:aliceblue;
      }