$colorOfGrid: rgb(173, 168, 168);
$colorOfBombs: rgb(209, 145, 27);
@mixin styleOfPictures {
    height: auto;
    max-width: 15%;
}

.images {
    @include styleOfPictures();
}

.grid {
    height: 100%;
    width: 50%;
    display: flex;
    margin: 50px auto;
    flex-wrap: wrap;
    background-color: $colorOfGrid;
    div {
        height: 50px;
        width: 50px;
    }
    .bomb {
        background-color: $colorOfBombs;
    }
}