.game-wrapper {
    margin-top: 20em;
    width: 100%;
    flex-basis: 30%;
}
.table-wrapper {
    min-height: 132px;
    transform-origin: bottom;
    z-index: 9999;
    position: relative;
    margin: 0px auto;
    width: 70%;
}
.table-surface {
    box-shadow: 0px 40px 10px rgba(0,0,0,.2);
    background: linear-gradient(#444c5a,#c24d2c);
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 100%;
}
.nametags {
    z-index: 1;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.table {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transform-style: preserve-3d;
    outline: solid 1px transparent;
    margin: 0px auto 0px auto;
    min-height: 132px;
    padding: 15px 15px 22px 15px;
    z-index: 999;
    position: relative;
    white-space: nowrap;
}
.table-edge {
    width: 70%;
    margin: 0 auto 10px auto;
    background: #c24d2c;
    height: 15px;
    transform: rotateX(-40deg);
    transform-origin: top;
}
.table-leg:first-child {
    left: 20px;
}
.table-leg:last-child {
    right: 20px;
}
.table-leg {
    width: 24px;
    height: 40px;
    background: #c24d2c;
    position: absolute;
    top: 10px;
}
.game-wrapper plate { 
    position: relative;
    bottom: 0;
    display: inline-block;
    width: 10vw;
    height: 10vw;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: bottom 0.1s linear;
    border: 3px solid transparent;
    z-index: 1;
}
.game-wrapper plate::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../../../images/pngimg.com\ -\ plate_PNG5327.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.game-wrapper .dance {
    animation: dance 0.5s infinite alternate;
}
@keyframes dance {
    0% {
        transform: skew(3deg, 1deg) scale(1, 1) translate(-4%, 0%);
    }

    50% {
        transform: skew(0deg, 0deg) scale(1, .9) translate(0%, 6%);
    }

    100% {
        transform: skew(-3deg, 1deg) scale(1, 1) translate(4%, 0%);
    }
}

@keyframes dance-medium {
    0% {
        transform: skew(3deg, 1deg) scale(1, 1) translate(-6%, 0%);
    }

    50% {
        transform: skew(0deg, 0deg) scale(1, .9) translate(0%, 5%);
    }

    100% {
        transform: skew(-3deg, 1deg) scale(1, 1) translate(6%, 0%);
    }
}

@keyframes dance-large {
    0% {
        transform: skew(3deg, 1deg) scale(1, 1) translate(-2.5%, 0%);
    }

    50% {
        transform: skew(0deg, 0deg) scale(1, .9) translate(0%, 6%);
    }

    100% {
        transform: skew(-3deg, 1deg) scale(1, 1) translate(2.5%, 0%);
    }
}
  
  .red {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-image: url(../../../../images/pngwing.com.png);
    background-size: 55px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  bat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50px;
    height: 50px;
    background-image: url(../../../../images/pngimg.com\ -\ plate_PNG5338.png);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  plates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -20px 5px 5px 5px;
    width: 70px;
    height: 100px;
    border-radius: 50%;
    background-image: url(../../../../images/pngimg.com\ -\ plate_PNG5327.png);
    background-size: 95px 112px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: white 0.006em 0.006em 0.007em, #87a1ab 1px 1px 1px, #87a1ab 1px 2px 1px, #87a1ab 1px 3px 1px, #87a1ab 1px 4px 1px, #87a1ab 1px 5px 1px, #87a1ab 1px 6px 1px, #87a1ab 1px 7px 1px, #87a1ab 1px 8px 1px, #87a1ab 1px 9px 1px, #87a1ab 1px 10px 1px, #87a1ab 1px 11px 1px, #87a1ab 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px;
            box-shadow: white 0.006em 0.006em 0.007em, #87a1ab 1px 1px 1px, #87a1ab 1px 2px 1px, #87a1ab 1px 3px 1px, #87a1ab 1px 4px 1px, #87a1ab 1px 5px 1px, #87a1ab 1px 6px 1px, #87a1ab 1px 7px 1px, #87a1ab 1px 8px 1px, #87a1ab 1px 9px 1px, #87a1ab 1px 10px 1px, #87a1ab 1px 11px 1px, #87a1ab 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px;
  }
  
  #rip {
    background-image: url(../../../../images/twitter.svg);
  }
  
  earth {
    width: auto;
    min-width: 30px;
    height: 100px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../../../../images/pngimg.com\ -\ plate_PNG5327.png);
    background-size: 100px;
  }
  
  pumpkin {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../../../../images/apple.png);
    background-size: 70px;
    background-repeat: no-repeat;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px;
            box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px;
  }
  
  skull {
    width: 70px;
    height: 90px;
    border-radius: 50%;
    margin-top: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../../../../images/pngwing.com.png);
    background-size: 70px 97px;
    background-repeat: no-repeat;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px;
            box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px;
  }
  
  skull.small {
    width: 45px;
    height: 60px;
    margin: 5px;
    background-size: 45px 66px;
  }
  
  casper {
    width: 70px;
    height: 100px;
    border-radius: 50%;
    margin-top: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../../../../images/pngimg.com\ -\ plate_PNG5327.png);
    background-size: 70px 105px;
    background-repeat: no-repeat;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px;
            box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px;
  }
  
  casper.small {
    width: 45px;
    height: 68px;
    background-size: 45px 71px;
  }
  
  .selected-element {
    -webkit-animation: strobe 1s infinite;
            animation: strobe 1s infinite;
    -webkit-animation-delay: 0s, 0.5s;
            animation-delay: 0s, 0.5s;
  }
  
  .selected-bat {
    -webkit-animation: bat 1s infinite;
            animation: bat 1s infinite;
    -webkit-animation-delay: 0s, 0.5s;
            animation-delay: 0s, 0.5s;
  }
  
  .selected-pumpkin {
    -webkit-animation: pumpkin 1s infinite;
            animation: pumpkin 1s infinite;
    -webkit-animation-delay: 0s, 0.5s;
            animation-delay: 0s, 0.5s;
  }
  
  @-webkit-keyframes bat {
    0% {
      margin-top: 0px;
    }
    50% {
      margin-top: -50px;
    }
    100% {
      margin-top: 0px;
    }
  }
  
  @keyframes bat {
    0% {
      margin-top: 0px;
    }
    50% {
      margin-top: -50px;
    }
    100% {
      margin-top: 0px;
    }
  }
  
  @-webkit-keyframes pumpkin {
    0% {
      margin-top: -10px;
      -webkit-box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
              box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
    }
    50% {
      margin-top: -30px;
      -webkit-box-shadow: rgba(16, 16, 16, 0.4) 1px 38px 26px, rgba(16, 16, 16, 0.2) 1px 42px 30px, rgba(16, 16, 16, 0.2) 1px 46px 65px, rgba(16, 16, 16, 0.4) 1px 50px 95px;
              box-shadow: rgba(16, 16, 16, 0.4) 1px 38px 26px, rgba(16, 16, 16, 0.2) 1px 42px 30px, rgba(16, 16, 16, 0.2) 1px 46px 65px, rgba(16, 16, 16, 0.4) 1px 50px 95px;
    }
    100% {
      margin-top: -10px;
      -webkit-box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
              box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
    }
  }
  
  @keyframes pumpkin {
    0% {
      margin-top: -10px;
      -webkit-box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
              box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
    }
    50% {
      margin-top: -30px;
      -webkit-box-shadow: rgba(16, 16, 16, 0.4) 1px 38px 26px, rgba(16, 16, 16, 0.2) 1px 42px 30px, rgba(16, 16, 16, 0.2) 1px 46px 65px, rgba(16, 16, 16, 0.4) 1px 50px 95px;
              box-shadow: rgba(16, 16, 16, 0.4) 1px 38px 26px, rgba(16, 16, 16, 0.2) 1px 42px 30px, rgba(16, 16, 16, 0.2) 1px 46px 65px, rgba(16, 16, 16, 0.4) 1px 50px 95px;
    }
    100% {
      margin-top: -10px;
      -webkit-box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
              box-shadow: rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
    }
  }
  
  @-webkit-keyframes strobe {
    0% {
      margin-top: 0px;
      -webkit-box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
              box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
    }
    50% {
      margin-top: -30px;
      -webkit-box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 38px 26px, rgba(16, 16, 16, 0.2) 1px 42px 30px, rgba(16, 16, 16, 0.2) 1px 46px 65px, rgba(16, 16, 16, 0.4) 1px 50px 95px;
              box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 38px 26px, rgba(16, 16, 16, 0.2) 1px 42px 30px, rgba(16, 16, 16, 0.2) 1px 46px 65px, rgba(16, 16, 16, 0.4) 1px 50px 95px;
    }
    100% {
      margin-top: 0px;
      -webkit-box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
              box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
    }
  }
  
  @keyframes strobe {
    0% {
      margin-top: 0px;
      -webkit-box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
              box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
    }
    50% {
      margin-top: -30px;
      -webkit-box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 38px 26px, rgba(16, 16, 16, 0.2) 1px 42px 30px, rgba(16, 16, 16, 0.2) 1px 46px 65px, rgba(16, 16, 16, 0.4) 1px 50px 95px;
              box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 38px 26px, rgba(16, 16, 16, 0.2) 1px 42px 30px, rgba(16, 16, 16, 0.2) 1px 46px 65px, rgba(16, 16, 16, 0.4) 1px 50px 95px;
    }
    100% {
      margin-top: 0px;
      -webkit-box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
              box-shadow: white 0.006em 0.006em 0.007em, #9c9c9c 1px 1px 1px, #9c9c9c 1px 2px 1px, #9c9c9c 1px 3px 1px, #9c9c9c 1px 4px 1px, #9c9c9c 1px 5px 1px, #9c9c9c 1px 6px 1px, #9c9c9c 1px 7px 1px, #9c9c9c 1px 8px 1px, #9c9c9c 1px 9px 1px, #9c9c9c 1px 10px 1px, #9c9c9c 1px 11px 1px, #9c9c9c 1px 12px 1px, rgba(16, 16, 16, 0.4) 1px 18px 6px, rgba(16, 16, 16, 0.2) 1px 22px 10px, rgba(16, 16, 16, 0.2) 1px 26px 35px, rgba(16, 16, 16, 0.4) 1px 30px 65px;
    }
  }
  
  .win {
    -webkit-animation: take-off 1s ease-in-out 0s forwards;
            animation: take-off 1s ease-in-out 0s forwards;
  }
  
  @-webkit-keyframes take-off {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    10% {
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
    }
    20% {
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(-10px, -300%, 0) scale(0.2, 0.2);
              transform: translate3d(-10px, -300%, 0) scale(0.2, 0.2);
    }
  }
  
  @keyframes take-off {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
    }
    10% {
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
    }
    20% {
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(-10px, -300%, 0) scale(0.2, 0.2);
              transform: translate3d(-10px, -300%, 0) scale(0.2, 0.2);
    }
  }